<h2>Neuen Benutzer anlegen</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<p>
    <label>
        Benutzername:
        <input type="text" formControlName="name">
    </label>
    <button type="submit" [disabled]="!form.valid"> Hinzufügen </button>
</p>
</form>