<div *ngIf="user">
  <h3>Du bist eingeloggt als: {{user.name}} / {{user.id}}</h3>

  <button (click)="showConfig()">Abholen aller existierenden Geschenke</button>

  <span *ngIf="config">

    <p *ngFor="let present of config">
      Present name: {{present.name}}
    </p>
  </span>
</div>