<form [formGroup]="presentForm" (ngSubmit)="onSubmit()">

    <p>
        <label>
            Name:
            <input type="text" formControlName="name">
        </label>
    </p>

    <button type="submit" [disabled]="!presentForm.valid">Submit</button>

</form>

<p>
    Value: {{ presentForm.value.name }}
</p>
<p>
    <button (click)="updateName()">Update Name</button>
</p>